/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  header {
    background-color: #0066cc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  body {
    background-color: #f2f2f2;
  }
  
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 400px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #34495e;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }