<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Back Office</title>
	<link href="{{ url_for('public', path='css/styles_boffice.css') }}" rel="stylesheet">
</head>
<body>
<header>
        <h1>Back Office - Bienvenue</h1>
        <div class="logout">
            <button id="dcx">Deconnexion</button>
            <script>
                let btn = document.getElementById("dcx");
                btn.addEventListener("click", function() {
                    window.location.replace("/");
                });
            </script>
        </div>
</header>
<aside>
    <ul>
        <li>
            <h2>Produits</h2>
            <ul>
                <li><a href="#" id="linkCreateProd">Créer</a></li>
            </ul>
        </li>
        <li>
            <h2>Promotions</h2>
            <ul>
                <li><a href="#" id="linkCreatePromo">Créer</a></li>
            </ul>
        </li>
    </ul>
</aside>
<main>

    <!-- Formulaire création produit -->

    <div id="form-prod-container" style="display: none;">
        <form class="create-form" action="/createProd/" method="post">
            <h2>Créer un produit</h2>
            <div><br />
                <label for="label">Libellé:</label>
                <input type="text" id="label" name="label" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <label for="price">Prix:</label>
                <input type="number" id="price" name="price" step="0.01" required />
            </div>
            <div>
                <label for="images">Images:</label>
                <input type="file" id="images" name="images" 
								   accept="image/png, image/jpeg, image/webp" required>
            </div>
			<fieldset>
				<legend> Produit en promotion </legend>
            <div><br />
				<input type="radio" id="promoOn" name="promo" value="on">
                <label for="promo">Oui</label>
				<input type="radio" id="promoOff" name="promo" value="off" checked>
                <label for="promo">Non</label>
            </div>
			</fieldset><br />
              <div>
                <label for="categorie">Libéllé catégorie:</label>
                <input type="text" id="categorie" name="categorie" required />
            </div>
            <div>
                <button type="submit" id="submit-btn">Envoyer</button>
            </div>
        </form>
    </div>

    <!-- formulaire création promotion -->

    <div id="form-promo-container" style="display: none;">
        <form class="create-form" action="/createPromo/" method="post">
            <h2>Créer une promotion</h2>
            
            <div>
                <label for="id_produit">Id produit:</label>
                <input type="number" id="id_produit" name="id_produit" step="1" min="1" required />
            </div>

            <div><br />
                <label for="dateD">Date de début:</label>
                <input type="date" id="dateD" name="dateD" required />
            </div>
            <div>
                <label for="dateF">Date de fin:</label>
                <input type="date" id="dateF" name="dateF" required />
            </div>
            <div>
                <label for="remise">Remise:</label>
                <input type="number" id="remise" name="remise" step="1" min="1" required />
            </div>
            <div>
                <button type="submit" id="submit-btn">Envoyer</button>
            </div>
        </form>
    </div>
</main>

<script src="{{ url_for('public', path='js/boffice.js') }} "></script>
</body>
</html>