<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Creation produit</title>
    <link href="{{ url_for('public', path='css/styles_objectCreate.css') }}" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <button id="retourBO">Retour au back Office</button>
        </nav>
    </header>
    
    <br />
    <p> ID de la promotion crée: <strong>{{ id_promo }}</strong> </p>
    <p> remise: <strong>{{ remise }} %</strong> </p>
    <p> Date de dénut:: <strong>{{ dateD }}</strong></p>
    <p> Date de fin: <strong>{{ dateF }}</strong></p>
    <p> Appliquée au produit (ID): <strong>{{ id_article }}</strong></p>

<script src="{{ url_for('public', path='js/retBO.js') }} "></script>
</body>
</html>